@import "../variables";


.home-page {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	text-align: center;

	background-color: $background-color;

	.header {
		display: flex;
		justify-content: center;

		height: 20vh;
		width: 100vw;
		
		.homepage-title {
			max-width: 300px;
			margin-top: -40px;

			color: $basicfont-color;
	
			font-size: 30px;
		}
	}

	.main {
		display: flex;
		justify-content: center;
		align-items: center;
			
		height: 60vh;
		width: 100vw;
			
		.center-menu {
			display: flex;
			flex-direction: column;

			color: $basicfont-color;
			font-size: 60px;
	
			cursor: pointer;
	
			div {
				transition: font-size 0.2s ease-in-out;
	
				&:hover {
					font-size: 80px;	
				}
			}
		}

		.pong-paddle-left {
			background-color: white;
		}

		.pong-paddle-right {
			background-color: white;
		}
	}

	.footer {
		height: 20vh;
		width: 100vw;
		
		display: flex;
		
		z-index: 1; // Allows to set the display priority of a div

		.settings {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: flex-start;

			width: 50%;
			text-align: left;

			margin-left: 20px;
			margin-bottom: 20px;

			color: $basicfont-color;
			font-size: 30px;

			cursor: pointer;

			.button {
				transition: font-size 0.2s ease-in-out;
	
				&:hover {
					font-size: 50px;	
				}
			}
		}

		.logins {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: flex-end;

			width: 50%;
			text-align: right;

			margin-right: 20px;
			margin-bottom: 20px;
			color: red;
			font-size: 30px;

			cursor: pointer;

			.button {
				transition: font-size 0.2s ease-in-out;
	
				&:hover {
					font-size: 40px;	
				}
			}
		}
	}

}