@import "../../variables";

body {
	margin: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	height: 100vh;
	background-color: $background-color;
}
  
.the-real-pong {
	color: $basicfont-color;

	font-size: 45px;
	max-width: 450px;

	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	
	margin-top: -100px;
	margin-bottom: 50px;
}

.sign-in-button {
	width: 400px;
	height: 100px;
	margin-left: 30px;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: $button-color;
	color: white;

	font-size: 32px;
	font-weight: bold;

	border: none;
	border-radius: 100px;

	cursor: pointer;

	transition: background-color 0.2s ease-in-out;

	&:hover {
		background-color: $button-hover-color;
	}  
}